<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="form-form">
    <form>
        <h2>ToDoList</h2>

        <label>ToDo:</label>
        <input type="text" name="name" value="">

        <label>Info:</label>
        <input type="text" name="info" value="">
        <hr>
        <button id="save-form">Сохранить</button>
    </form>
</div>

<h1>ToDoList</h1>
<button id="show-add-form-form">PUSH</button>
<br><br>
<div id="form-list">
    <div th:each="form : ${forms}">
        <a href="#" class="form-link" th:attr="data-id=${form.id}" th:text="${form.name}"></a>
    </div>
</div>

<p th:text="${someParameter}"></p>
</body>
</html>